.breadcrumbs {
  display: block;
  padding: 0.5625rem 0.875rem 0.5625rem;
  overflow: hidden;
  margin-left: 0;
  list-style: none;
  border-style: solid;
  border-width: 0px;
  background-color: #1E1E1E;
  border-color: #dadada;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

.breadcrumbs li a{
 color:#ccc;
 }