 
nav.top-bar {
	 background: none; 
}
.top-bar-section ul.left li.active > a{
  /*background: #149A9A;*/
  background: #E91B23; 
  color: #fff;
}

.top-bar-section li a:not(.button) {
      padding: 0 15px;
      /*background: #19C1C3; */
      background: #1E1E1E;
      font-size: 16px;
      font-family: 'Julius Sans One', sans-serif;
      color: #ccc
      }
.top-bar-section li a:not(.button):hover {
        background: #E91B23; color: #fff;}
.top-bar-section .dropdown li a {
        color: white;
        line-height: 1;
        white-space: nowrap;
        padding: 12px 15px;
        background: #292929; color: #eee;}
.top-bar-section ul li:hover > a {
	background: #E91B23;
	color: #fff;
}
.top-bar-section ul{
  background: #1E1E1E
}
