	.marquee,
	.marquee-with-options,
	.marquee-vert-before,
	.marquee-vert {
		max-width: 850px;
		padding-top: 10px; 
		overflow: hidden; 
		text-align: left;
		padding-right: 10px;
	}

/*
 
@media only screen and (max-width: 35em) and (max-width: 40em) { 
	.marquee,
	.marquee-with-options,
	.marquee-vert-before,
	.marquee-vert { 
		max-width: 340px;
		padding-top: 10px; 
		overflow: hidden;
		text-align: center; 
	}

} 
 
@media only screen and (max-width: 60em) { 
	.marquee,
	.marquee-with-options,
	.marquee-vert-before,
	.marquee-vert {
		max-width: 340px;
		padding-top: 10px; 
		overflow: hidden; 
		text-align: center; 
	}
	
} /* max-width 640px, mobile-only styles, use when QAing mobile issues 

 
@media only screen and (min-width: 40.063em) { 
	.marquee,
	.marquee-with-options,
	.marquee-vert-before,
	.marquee-vert {
		max-width: 350px;
		padding-top: 10px; 
		overflow: hidden; 
		text-align: center;
	}
} /* min-width 641px, medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	.marquee,
	.marquee-with-options,
	.marquee-vert-before,
	.marquee-vert {
		max-width: 350px;
		padding-top: 10px; 
		overflow: hidden;
		text-align: center;
	}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues
 */
 
@media only screen and (min-width: 64.063em) { 
	.marquee,
	.marquee-with-options,
	.marquee-vert-before,
	.marquee-vert {
		max-width: 600px;
		padding-top: 10px; 
		overflow: hidden;
	}
	
} /* min-width 1025px, large screens */ 

@media only screen and (min-width: 74.063em) and (max-width: 83em) { 
	.marquee,
	.marquee-with-options,
	.marquee-vert-before,
	.marquee-vert {
		max-width: 780px;
		padding-top: 10px; 
		overflow: hidden;
	}
	
} /* min-width 1025px, large screens */

@media only screen and (min-width: 85.063em) and (max-width: 90em) { 
	.marquee,
	.marquee-with-options,
	.marquee-vert-before,
	.marquee-vert {
		max-width: 850px;
		padding-top: 10px; 
		overflow: hidden;
	}
} /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */