body{
	margin: 0;
	padding: 0; 
	background: #000; 
	font-family: 'Open Sans', sans-serif;
}
p{
	font-size: 13px;
	line-height: 20px; 
	color: #888;
	font-family: 'Open Sans', sans-serif;
}
.row-gen-wide{
	background: #fff;
	width: 100%;
}
.row-gen-boxed{
	background: #fff; 
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px; 
}
.row-gen-footer-wide{
	background: #1E1E1E;
	width: 100%;
}
.row-gen-footer-boxed{
	background: #1E1E1E; 
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px; 
}
.row-gen-1{
	/*background: #19C1C3;*/
	background: #1E1E1E;
	padding-top: 5px;
	padding-bottom: 5px;   
	float: left;
	width: 100%;
}
.mar-top-left-50{
	margin-top: 50px;
}
.mar-top-right-30{
	margin-top: 30px;
}
.mar-top-30{
	margin-top: 30px;
}
.mar-top-20{
	margin-top: 20px;
}
.mar-top-10{
	margin-top: 10px;
}
.panel-ads{ 
	padding-bottom: 15px;
	background: none;
	border: none; 
}
.adds-box{
	padding-bottom: 10px;
}

/* TYPO */
h2 small{
	color: #000;
	font-weight: 500;
	text-transform: uppercase;
}
h3 small{
	color: #000;
	font-weight: 500; 
}
h5 small{
	color: #000; 
	font-weight: 500;
}
h4 small{
	color: #333; 
	font-weight: bold;
}
h4.h4-sidebar{
	line-height:20px; 
}
h4.h4-sidebar small{ 
	color: #555
}
h5 a:hover small{
	color: #F48140;
}
h4 a:hover small{ 
	text-decoration: underline;
}
h3 a:hover small{
	color: #F48140
}
.align-center{
	text-align: center;
}
.align-right{
	float: right;
}
hr.line-footer{
	border: solid #343B44;
	border-width: 1px 0 0;
  	clear: both;
  	margin: 1.11111rem 0 1.05556rem;
  	height: 0;
}
.img-pad{
	display: inline-block;
	padding-right: 10px;
	padding-top: 10px;
}
.ads-100{
	width: 100%;
}
.logo{
	margin-top: 5px;
}
.img-res{
	width: 100%;
}
/* PANEL */
.panel.callout {
    border-style: solid;
    border-width: 0px; 
    margin-bottom: 0.5rem; 
    padding: 0.8rem;
    background: #1E1E1E;; }
.panel.tab {
    border-style: solid;
    border-width: 0px; 
    margin-bottom: 0.3rem;
    padding: 0.3rem;
    background: #1E1E1E;
	color: #fff}
.entry-tag, .entry-tag a{
	font-size: 13px;
	padding-left: 1px;
	color: #888
}
.entry-tag a:hover{
	text-decoration: underline;
	color: #000;
}
.panel-line{
	border-bottom: 1px solid #eee;
	padding-bottom: 5px; 
}
.panel-description{ 
	padding-top: 10px; 
}

.panel-headline{ 
	height: 50px;
	width: 100%;
	padding-top: 10px;
	background: #555;
}
.panel-headline .left-news{
	background: #555; 
	height: 40px; 
}
.panel-headline .left-head{
	background: #000;
	line-height: 40px; 
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	padding: 0 15px 0 15px;
	text-align: center;
	height: 40px;
	font-size: 15px;
	font-weight: normal;
	border-top: 1px solid #E91B23; 
}
.left-news-box{ 
}

.head-marq{ 
	color: #999;
	font-size: 13px;
}
.head-marq a{
	padding-left: 10px; 
	color: #ddd
}
.head-marq a:hover{ 
	color: #fff;
}

/* BUTTON LABEL */
.label {
  font-weight: normal;
  font-family: "Tahoma", Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  margin-bottom: inherit;
  padding: 0.25rem 0.5rem 0.375rem;
  font-size: 0.7300rem;
  background-color: #eee;
  color: #000; }

.datetime,.num-comment,.num-view{
	color: #888;
	font-size: 11px;
}
.num-comment a{
	color: #888; 
}
.num-comment a:hover{
	color: #000;
	text-decoration: underline;
}
.row-pad{
	padding-bottom: 20px;
}

/* SIDEBAR */
.title-bold{
	font-weight:300; display:inline;
}
.sidebarnav {
    margin-bottom: 20px;
    border-bottom: 2px #eee solid;
    height: 31px;
    width:100%;
    text-align: center;
    }
	
.sidebarnav h3 {
    text-transform: uppercase;
    color: #191a1e;
    padding: 2px 8px 2px 0px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    background: #fff;
    float: left;
    }
.sidebarnav h3{
	border-bottom: 2px #e91b23 solid;
}

/* GRID IMG TEXT LEFT */
 .sidebarnav-img-left{
	float:left; width:35%
 }
 .sidebarnav-text-left{
 	float:left; width:65%
 }

 /* CAROSUEL */
 .carouse-navigation{
 	position: absolute;
 	right: 20px;
 }
 .carouse-navigation .btn.prev{ 
 }
 .carouse-navigation .btn.next{
 	
 }

/* 
========COMMENT===========
==========================
*/
h3.comment-reply-title{
 	font-size: 20px;
}
p.comment-notes{
 	font-size: 12px; 
}
.box-list-image-comment{ 
	width: 10%;
	float: left;
}
.box-list-comment{
	float:left; 
	width: 90%; 
}
.box-detail-comment{ 
	float: left; 
}
ol.commentlist{
	padding: 0;
	margin: 0;
	list-style: none;
}
ol.commentlist li.comment{
	background: none;
}
ol.commentlist li.comment header{
	background: none;
	border: none; 
	width: 100%; 
}
ol.children{
	list-style: none;
}
ol.commentlist li.comment .comment-content{  
	text-align: left;
	float:left;
	width: 100%;
	padding: 10px;
	background: #eee;
}
ol.commentlist li.comment article cite a{
	color: #bbb;
	font-size: 12px;
}
ol.commentlist li.comment article cite{
	color: #bbb;
	font-size: 12px;
}
ol.commentlist li.comment article time{
	color: #ccc;
	font-size: 12px;
	cursor: none;
}
ol.commentlist li.comment article .box-date-comment{ 
	float: left; 
}
ol.commentlist li.comment article .box-edit-comment{ 
	float: right;
	color: #bbb 
}
ol.commentlist li.comment article .box-edit-comment-left{
	float: left;
}
ol.commentlist li.comment article .box-edit-comment-right{
	float:right; 
}
ol.commentlist li.comment article .box-edit-comment-right a, ol.commentlist li.comment article .box-edit-comment-left a{
	font-size: 12px; 
}
ol.commentlist li.comment article .box-edit-comment .edit a, ol.commentlist li.comment article .box-edit-comment .reply a{
	color: #bbb  
}
ol.commentlist li.comment article .box-edit-comment .edit a:hover, ol.commentlist li.comment article .box-edit-comment .reply a:hover{
	color: red;  
}

/* FOOTER */
.text-footer{ 
	padding-top: 40px;
	text-align: center;
}
.text-footer dl.sub-nav dd a{
	color: #999
}
.text-copyright{
	padding-top: 20px;
	padding-bottom: 10px;
}
.text-copyright p{
	color: #626262;
	text-align: center;
	font-size: 12px;
} 
