/* TAB */  
dl.tabs dd{
	padding: 0;
	margin: 0;
}
dl.tabs dd a{    
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	float:left; 
	border-right: 1px solid #ccc;
	margin: 5px;
	background: none;
	font-size: 14px; font-family: 'Playfair Display SC', serif; 
}
dl.tabs dd.active a{
	background: #292929;
	color: #fff;
	border: 0;
}
dl.tabs dd a:hover{
	background: #FFFF00;
	color: #000;  
}
.tabs-content .content{
	width: 100%;
	margin-top: 10px; 
}