
/* TAB */
.tabs-genthemes.vertical{
	width: 25%;
    float: left;
    margin-bottom: 1.25rem;
    background: #F3F3F3;
}
.tabs-genthemes-content.vertical {
    width: 65%;
    float: left;
    margin-left: 10px; 
}  
dl.tabs-genthemes dd{
	padding: 0;
	margin: 0;
}
dl.tabs-genthemes dd a span{ 
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #000;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	float:left;
	/*border-right: 1px solid #ccc;*/
}
dl.tabs-genthemes dd a.active span{
	background: #0079A1;
	color: #fff;
	width: 100%;
	float: left; 
	/*-webkit-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;*/
}
/* */
div.content-tab{
	width: 100%;
}
.custome-textarea{
	height: 140px;
}

/* */
fieldset legend{
	background: none;
}

/* */
.panel-custome-1{
	background: #F9F9F9;
	font-family: 'Open Sans', sans-serif; 
}
.panel-custome-1 label{  
	font-size: 12px;
	font-weight:bold;
}
.panel-custome-1 p{  
	font-size: 12px;
}
.callout-custome{
	padding-top: 10px;
	padding-bottom: 10px;
	background: #5D5D5D; 
}
.callout-custome h5{
	color: #fff
}
.medium-custome{
	padding-top: 10px;
	padding-bottom: 10px;
}
.pad-bottom{
	margin-bottom: 10px;
}
.btn-upload-gen a:hover{ 
	outline:none;
	color:#fff;
	border:none;
}
.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-weight: normal;
  margin-bottom: 1.25rem;
  position: relative;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  font-size: 0.8125rem;
  background-color: #008cba;
  border-color: #0079a1;
  color: white; }
  .alert-box .close {
    font-size: 1.375rem;
    padding: 9px 6px 4px;
    line-height: 0;
    position: absolute;
    top: 50%;
    margin-top: -0.6875rem;
    right: 0.25rem;
    color: #333333;
    opacity: 0.3; }
    .alert-box .close:hover, .alert-box .close:focus {
      opacity: 0.5; }
  .alert-box.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .alert-box.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px; }
  .alert-box.success {
    background-color: #43ac6a;
    border-color: #3c9a5f;
    color: white; }
  .alert-box.alert {
    background-color: #f04124;
    border-color: #ea2f10;
    color: white; }
  .alert-box.secondary {
    background-color: #e7e7e7;
    border-color: #dadada;
    color: #4e4e4e; }
  .alert-box.warning {
    background-color: #f08a24;
    border-color: #ea7d10;
    color: white; }
  .alert-box.info {
    background-color: #a0d3e8;
    border-color: #8bc9e3;
    color: #4e4e4e; }

#link-color-example {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #dfdfdf;
	margin: 0 7px 0 3px;
	padding: 4px 14px;
}